.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.date {
  display: block;
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

#calendar {
  height: 300px;
  overflow: auto;
}
.date:hover {
  background-color: aqua; 
  cursor: pointer;
}

.date.selected {
  background-color: black;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
